@font-face {
    font-family: Roost;
    src: url("../fonts/StampedPersonalUseRegular-ywJm3.ttf");
}

.board
{
    width: 15rem;
    height: 5rem;
    background-color: hsl(0, 59%, 51%);
    border-radius: 5px;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roost;
    margin-bottom: 1rem;
}

